<script>
  export let label;
  export let id;
  export let handleClick;
  export let disabled;
</script>

<button class="button" {id} on:click={handleClick} {disabled}>
  {label}
</button>

<style>
  .button {
    color: var(--on-primary);
    background-color: var(--primary);
    font-size: var(--font);
    border: none;
    padding: var(--spacer);
    border-radius: var(--border-radius);
    cursor: pointer;
  }

  .button:hover {
    opacity: 0.8;
  }

  .button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
</style>
