<script>
  export let icon;
  export let href;
  export let ariaLabel;
  export let id;
  export let target;
  export let disabled;
</script>

<a {href} aria-label={ariaLabel} class="iconButton" {id} {target} {disabled}>
  <img src={icon} alt={ariaLabel} />
</a>

<style>
  .iconButton {
    padding: var(--spacer);
    cursor: pointer;
  }

  .iconButton > img {
    width: var(--font);
    height: var(--font);
  }

  .iconButton:hover {
    opacity: 0.8;
  }

  .iconButton[disabled="true"] {
    opacity: 0.5;
    cursor: not-allowed;
  }
</style>
