<script>
  import Button from "./Button.svelte";
  import IconButton from "./IconButton.svelte";
  import twitterIcon from "../assets/icon-twitter.svg";
  import Skeleton from "./Skeleton.svelte";

  let quote = "";
  let author = "";
  let avatar = "";
  let isLoading = true;
  const endpoint = new URL("https://thesimpsonsquoteapi.glitch.me/quotes");

  const getQuote = async () => {
    const response = await fetch(endpoint);
    const data = await response.json();
    return response.status == 200 ? data[0] : undefined;
  };

  const setState = (data) => {
    quote = data.quote;
    author = data.character;
    avatar = data.image;
  };

  const createTwitterLink = (quote, author) => {
    return new URL(
      `https://twitter.com/intent/tweet?text=${quote} – ${author}`
    );
  };

  async function updateQuote() {
    isLoading = true;
    setState(await getQuote());
    isLoading = false;
  }

  updateQuote();

  $: twitterLink = createTwitterLink(quote, author);
</script>

<div class="quoteBox" id="quote-box">
  <div class="quoteBox-main">
    {#if isLoading}
      <Skeleton width="100%" height="2rem" />
      <Skeleton width="75%" height="2rem" />
      <Skeleton width="20%" height="1rem" />
    {:else}
      <blockquote id="text">{quote}</blockquote>
      <small id="author"> – {author}</small>
    {/if}
  </div>
  <menu class="quoteBox-menu">
    <Button
      label="Get New Quote"
      id="new-quote"
      handleClick={updateQuote}
      disabled={isLoading}
    />
    <IconButton
      id="tweet-quote"
      icon={twitterIcon}
      href={twitterLink}
      ariaLabel="Tweet this quote"
      target="_blank"
      disabled={isLoading}
    />
  </menu>
</div>

<style>
  .quoteBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: var(--spacer-m);
    width: min(800px, 100% - var(--spacer-m));
    padding: clamp(calc(var(--spacer) * 2), 2.5vw, var(--spacer-m));
    background-color: var(--surface);
    border-radius: var(--border-radius);
    position: relative;
  }

  blockquote {
    color: var(--on-surface);
    font-size: var(--font-display);
    margin: 0;
    z-index: 1;
  }

  .quoteBox::before {
    content: "“";
    font-size: calc(var(--font-display) * 2);
    position: absolute;
    top: var(--spacer-s);
    left: var(--spacer);
    color: var(--secondary);
  }

  small {
    color: var(--on-surface);
    font-size: var(--font);
    margin: 0;
  }

  .quoteBox-menu,
  .quoteBox-main {
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .quoteBox-main {
    flex-direction: column;
    gap: var(--spacer);
  }

  .quoteBox-menu {
    justify-content: flex-start;
    align-items: center;
    gap: var(--spacer);
  }
</style>
