<script>
  export let height;
  export let width;
</script>

<div style="width:{width}; height:{height};" />

<style>
  div {
    background-color: lightgrey;
    border-radius: var(--border-radius);
    animation: loading 1s ease-in-out infinite alternate;
  }

  @keyframes loading {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
</style>
