<script>
  import QuoteBox from "./lib/QuoteBox.svelte";
  const fccSite =
    "https://www.freecodecamp.org/learn/front-end-development-libraries/front-end-development-libraries-projects/build-a-random-quote-machine";
  const personalSite = "https://theokwok.com";
  const svelteSite = "https://svelte.dev/";
</script>

<main class="app">
  <QuoteBox />
  <div class="captions">
    <small>
      <a href={fccSite} target="_blank" rel="noreferrer">Random Quote Machine</a
      >
      By
      <a href={personalSite} target="_blank" rel="noreferrer">Theo Kwok</a>
    </small>
    <small
      >Built with <a href={svelteSite} target="_blank" rel="noreferrer"
        >Svelte</a
      ></small
    >
  </div>
</main>

<style>
  .app,
  .captions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .app {
    background-color: var(--primary);
    height: 100vh;
    width: 100vw;
    gap: var(--spacer);
  }

  .captions {
    gap: var(--spacer-s);
  }

  .captions * {
    color: var(--on-primary-dim);
  }
</style>
