:root {
  --primary: hsl(51 100% 53%);
  --secondary: lightblue;
  --surface: #fff;
  --on-primary: #201b00;
  --on-primary-dim: #7a6700;
  --on-surface: #201b00;
  --font: 1rem;
  --font-display: clamp(1.5rem, 2.5vw, 2.5rem);
  --spacer-s: 0.25rem;
  --spacer: 1rem;
  --spacer-m: 3rem;
  --border-radius: 0.25rem;
  --duration: 400ms;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  transition: all var(--duration) ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
}
